{% extends 'bike_store/shared/base.html' %}
{% load bootstrap4 %}

{% block site_content %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'login user' %}">
            {% csrf_token %}
            {% for field in login_form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}