{% extends 'common/base.html' %}
{% load bootstrap4 %}

{% block site_content %}
    <h1 class="text-center">Your new profile details</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'profile update' user.id %}">
            {% csrf_token %}
            {% bootstrap_field profile_form.profile_photo %}
            {% bootstrap_field profile_form.email %}
            {% bootstrap_field profile_form.tel_number %}
            {% buttons %}
                <button class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}