{% extends 'common/base.html' %}
{% load bootstrap4 %}


{% block site_content %}
    <h1 class="text-center">Details of your bike</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'sell a bike' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in bike_form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
